<!DOCTYPE html>
<html>
<body>
<script type="text/javascript" src="{{ url_for('static', filename = 'test.js') }}"></script>
<h1> Welcome to PiKot chat room </h1>

<h4>{{greet}}</h4></br>

<form id = "inputchat" action="{{ url_for('answer') }}" method="POST">
            <h3>Please enter your query</h3>
                <input type="text" size="48" name="inputtext" value=""></p>
				<p><input type="submit" name="inputbutton" value="Submit" id="btn" ></p>
</form>

{{ data}} <br/>

<divb>
    <hr>
    <footer><!-- footer for copyrights -->
        <p>&copy; Copyright - Prashant Kumar 
		<img src = "{{ url_for('static', filename = 'favicon.png') }}"> </img></p>
    </footer>
</div>
</body>
</html>